<ion-view title="Form Verify">
    <ion-scroll class="Form" min-zoom="1" max-zoom="3" zooming="true" direction="xy"  ng-style="{'height': scrollheight + '%'}">
     <img class="Image" src="img/page1.PNG"/>
                <div on-double-tap="openModal('BasicInfo')" class="overlayButton" id="JSATitle">
                    <div class="Textbox" id="subcontractor">
                        {{basicinfo.subcontractor}}
                    </div>
                    <div class="Textbox" id="crewleader">
                        {{basicinfo.crewleader}}
                    </div>
                    <div class="Textbox" id="projectname">
                        {{basicinfo.projectname}}
                    </div>
                    <div class="Textbox" id="generalcontractor">
                        {{basicinfo.generalcontractor}}
                    </div>
                    <div class="Textbox" id="sitesuperintendent">
                        {{basicinfo.sitesuperintendent}}
                    </div>
                    <div class="Textbox" id="basicinfodate">
                        {{basicinfo.basicinfodate | date:"MM/dd/yyyy"}}
                    </div>
                    <div class="Textbox" id="jobscope">
                        {{basicinfo.jobscope}}
                    </div>
               </div>
     <div on-double-tap="openModal('PPE')" class="overlayButton" id="PPEAssessment">
          Double-Tap To Edit
          <i  data-ng-if="ppeinfo.cm_EyeProtection" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_EyeProtection"></i>
          <i  data-ng-if="ppeinfo.cm_ChemGoggles" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_ChemGoggles"></i>
          <i  data-ng-if="ppeinfo.cm_HardHat" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_HardHat"></i>
          <i  data-ng-if="ppeinfo.cm_RespiratorType" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_RespiratorType"></i>
          <div class="Textbox" id="tb_RespiratorType" ng-style="fontStyle()">{{ppeinfo.cb_RespiratorType}}</div>
          <i  data-ng-if="ppeinfo.cm_GlovesType" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_GlovesType"></i>
          <div class="Textbox" id="tb_GlovesType">{{ppeinfo.cb_GlovesType}}</div>
          <i  data-ng-if="!ppeinfo.cm_Clothing" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_Clothing"></i>
          <div class="Textbox" id="tb_Clothing">{{ppeinfo.cb_Clothing}}</div>
          <i  data-ng-if="ppeinfo.cm_ProtectiveToe" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_ProtectiveToe"></i>
          <i  data-ng-if="ppeinfo.cm_HearingProtection" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_HearingProtection"></i>
          <div class="Textbox" id="tb_HearingProtection">{{ppeinfo.cb_HearingProtection}}</div>
          <i  data-ng-if="ppeinfo.cm_ChemClothing" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_ChemClothing"></i>
          <div class="Textbox" id="tb_ChemClothing">{{ppeinfo.cb_ChemClothing}}</div>
          <i  data-ng-if="ppeinfo.cm_HarnessLanyard" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_HarnessLanyard"></i>
          <i  data-ng-if="ppeinfo.cm_FaceShield" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_FaceShield"></i>
          <i  data-ng-if="ppeinfo.cm_Other" class="icon ion-checkmark-circled PPE_Checkmark" id="cm_Other"></i>
          <div class="Textbox" id="tb_Other">{{ppeinfo.tb_Other}}</div>
      </div>
      <div on-double-tap="openModal()" class="overlayButton" id="TaskOne">
          Double-Tap To Edit
      </div>
      <div on-double-tap="openModal()" class="overlayButton" id="TaskTwo">
          Double-Tap To Edit
      </div>
      <div on-double-tap="openModal()" class="overlayButton" id="TaskThree">
          Double-Tap To Edit
      </div>
      <div on-double-tap="openModal()" class="overlayButton" id="TaskFour">
          Double-Tap To Edit
      </div>
</ion-scroll>
</ion-view>