<ion-view title="Form Completion">
<ion-scroll class="VertForm" zooming="false" direction="y" ng-style="{'height': scrollheight + '%'}">
     <a on-tap="openModal('BasicInfo')" class="item item-icon-left">
         <i data-ng-if="completedElements.BasicInfo === 'invalid'" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="completedElements.BasicInfo === 'valid'" class="icon ion-checkmark completeicon"></i>
         <i data-ng-if="completedElements.BasicInfo === 'pending'" class="icon ion-minus pendingicon"></i>
         General Information
     </a>
     <a on-tap="openModal('PPE')" class="item item-icon-left">
         <i data-ng-if="completedElements.PPEAssess === 'invalid'" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="completedElements.PPEAssess === 'valid'" class="icon ion-checkmark completeicon"></i>
         <i data-ng-if="completedElements.PPEAssess === 'pending'" class="icon ion-minus pendingicon"></i>
         PPE Assessment
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="completedElements.TaskStep1 === 'invalid'" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="completedElements.TaskStep1 === 'valid'" class="icon ion-checkmark completeicon"></i>
         <i data-ng-if="completedElements.TaskStep1 === 'pending'" class="icon ion-minus pendingicon"></i>
         Task Step #1
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="completedElements.TaskStep2 === 'invalid'" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="completedElements.TaskStep2 === 'valid'" class="icon ion-checkmark completeicon"></i>
         <i data-ng-if="completedElements.TaskStep2 === 'pending'" class="icon ion-minus pendingicon"></i>
         Task Step #2
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="completedElements.TaskStep3 === 'invalid'" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="completedElements.TaskStep3 === 'valid'" class="icon ion-checkmark completeicon"></i>
         <i data-ng-if="completedElements.TaskStep3 === 'pending'" class="icon ion-minus pendingicon"></i>
         Task Step #3
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="completedElements.TaskStep4 === 'invalid'" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="completedElements.TaskStep4 === 'valid'" class="icon ion-checkmark completeicon"></i>
         <i data-ng-if="completedElements.TaskStep4 === 'pending'" class="icon ion-minus pendingicon"></i>
         Task Step #4
     </a>
</ion-scroll>

<button data-ng-if="submitComplete" class="button button-block button-positive" id = "b_Submit" on-tap="verify()" on-hold="verify()">Verify</button>

</ion-view>