 <ion-scroll class="VertForm" zooming="false" direction="y">
     <a ng-click="openModal('PPE')" class="item item-icon-left">
         <i data-ng-if="!FormService.PPEAssess" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="FormService.PPEAssess" class="icon ion-checkmark completeicon"></i>
         General Information
     </a>
     <a ng-click="openModal('PPE')" class="item item-icon-left">
         <i data-ng-if="!FormService.PPEAssess" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="FormService.PPEAssess" class="icon ion-checkmark completeicon"></i>
         PPE Assessment
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="!FormService.PPEAssess" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="FormService.PPEAssess" class="icon ion-checkmark completeicon"></i>
         Task Step #1
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="!FormService.PPEAssess" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="FormService.PPEAssess" class="icon ion-checkmark completeicon"></i>
         Task Step #2
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="!completedElements.PPEAssess" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="completedElements.PPEAssess" class="icon ion-checkmark completeicon"></i>
         Task Step #3
     </a>
     <a class="item item-icon-left">
         <i data-ng-if="!FormService.PPEAssess" class="icon ion-close incompleteicon"></i>
         <i data-ng-if="FormService.PPEAssess" class="icon ion-checkmark completeicon"></i>
         Task Step #4
     </a>
</ion-scroll>

<button data-ng-if="FormService.complete" class="button button-block button-positive" id = "b_Submit" ng-click="submitModal('PPE')">Submit</button>