<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">PPE Assessment</h1>
        <button class="button button-clear button-positive" ng-click="closeModal('PPE')">Cancel</button>
    </ion-header-bar>
    <ion-content direction="y" id="ModalForm">
        <form>  
            <div class="checkboxlist">
                <ul class="list">         
                    <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_EyeProtection">                        
                        Eye Protection
                    </ion-checkbox>
                    <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_ChemGoggles">
                        Chem. Goggles
                    </ion-checkbox>
                    <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_HardHat">
                        Hard Hat
                    </ion-checkbox>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Respirator Type
                        </div>
                        <select>
                            <option selected>N/A</option>
                            <option>some kind</option>
                            <option>some other kind</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Gloves Type
                        </div>
                        <select>
                            <option selected>N/A</option>
                            <option>some kind</option>
                            <option>some other kind</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Clothing
                        </div>
                        <select>
                            <option selected>N/A</option>
                            <option>some kind</option>
                            <option>some other kind</option>
                        </select>
                    </label>
                    <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_ProtectiveToe">
                        Protective Toe
                    </ion-checkbox>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Hearing Protection
                        </div>
                        <select>
                            <option selected>N/A</option>
                            <option>some kind</option>
                            <option>some other kind</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Chem. Clothing
                        </div>
                        <select>
                            <option selected>N/A</option>
                            <option>some kind</option>
                            <option>some other kind</option>
                        </select>
                    </label>
                    <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_HarnessLanyard">
                        Harness/Lanyard
                    </ion-checkbox>
                    <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_FaceShield">
                        Face Shield
                    </ion-checkbox>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Other</span>
                        <input type="text" placeholder="Enter any other PPE not include in this list." ng-model="master.other">
                    </label>
                </ul>
            </div>
        </form>
    </ion-content>
    <button class="button button-block button-positive" id = "b_Submit" ng-click="submitModal('PPE')">Submit</button>
</ion-modal-view>