<ion-content direction="y">
<form>  
    <div class="checkboxlist">
        <ul class="list">         
            <ion-checkbox class="item item-checkbox-right" ng-model="tempPPEinfo.cm_EyeProtection">                        
                Eye Protection
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_ChemGoggles">
                Chem. Goggles
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_HardHat">
                Hard Hat
            </ion-checkbox>
            <label class="item item-input item-select">
                <div class="input-label">
                    Respirator Type
                </div>
                <select ng-model="elements.cb_RespiratorType">
                    <option selected>N/A</option>
                    <option>Mouth Bit Respirator</option>
                    <option>Quarter-Mask</option>
                    <option>Half-Face Mask</option>
                    <option>Full Facepiece</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Gloves Type
                </div>
                <select ng-model="elements.cb_GlovesType">
                    <option selected>N/A</option>
                    <option>Leather</option>
                    <option>Canvas</option>
                    <option>Metal Mesh</option>
                    <option>Fabric</option>
                    <option>Coated Fabric</option>
                    <option>Butyl</option>
                    <option>Natural Rubber (Latex)</option>
                    <option>Neoprene</option>
                    <option>Nitrile</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Clothing
                </div>
                <select ng-model="elements.cb_Clothing">
                    <option selected>N/A</option>
                    <option>Level D (low)</option>
                    <option>Level C</option>
                    <option>Level B</option>
                    <option>Level A (high)</option>
                </select>
            </label>
            <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_ProtectiveToe">
                Protective Toe
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_HearingProtection">
                Hearing Protection
            </ion-checkbox>
            <label class="item item-input item-select">
                <div class="input-label">
                    Chem. Clothing
                </div>
                <select ng-model="elements.cb_ChemClothing">
                    <option selected>N/A</option>
                    <option>Level D (low)</option>
                    <option>Level C</option>
                    <option>Level B</option>
                    <option>Level A (high)</option>
                </select>
            </label>
            <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_HarnessLanyard">
                Harness/Lanyard
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="elements.cm_FaceShield">
                Face Shield
            </ion-checkbox>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Other</span>
                <input type="text" placeholder="Enter any other PPE not include in this list." ng-model="elements.tb_Other">
            </label>
        </ul>
    </div>
</form>
</ion-content>
<button class="button button-block button-positive" id = "b_Submit" on-tap="check('formWizard.GCorSub')" on-hold="check()">Next</button>