#SavedFormsBackgroundImage {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 0.5;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -40%);    
    transform: translate(-50%, -40%);
}

#SavedFormsContainer {
    height: 100%;
    width: 100%;
}

#SavedFormsListContainer {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}

#InfoCard {
    opacity: 0.5;
    text-align: center;
}

/* Landscape-specific code */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #SavedFormsBackgroundImage {
        height: 100%;
        width: auto;
        top: 45%;
        -webkit-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%);
    }
}