<link href="FormWizard/NewElements/NewElement.css" rel="stylesheet">
<ion-view view-title="Add Task">
<ion-content>
    <!-- our list and list items -->
    <ion-list>
        <ion-item ng-repeat="task in tasks">
            {{task.title}}
        </ion-item>
    </ion-list>
    <button class="button button-block button-positive" id="addTaskButton" ng-click="newTask()">
        Add Task
    </button>
</ion-content>
<button class="button button-block button-positive" id = "b_Submit" on-tap="goToJobElements()" on-hold="goToJobElements()">Add Job Element</button>
</ion-view>