/* Portrait-specific code */

#b_General{
    position: absolute;
    width: 96%; 
    top: 0;
    bottom: 50%;
    margin: 2%;
    margin-bottom: 1%;
}

#b_Sub{
    position: absolute;
    width: 96%;
    top: 50%;
    bottom: 0;
    margin: 2%;
    margin-top: 1%;
}

/* Landscape-specific code */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #b_General{
        position: absolute;
        width: 47%;
        top: 0;
        bottom: 0;
        margin: 2%;
        margin-right: 1%;
    }
    
    #b_Sub{
        position: absolute;
        width: 47%;
        top: 0;
        bottom: 0;
        left: 50%;
        margin: 2%;
        margin-left: 1%;
    }
}