<ion-view view-title="Training Requirements">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios-list-outline"></button>
    </ion-nav-buttons>
    <ion-content direction="y" class="submission-content">  
    <div class="checkboxlist">
        <ul class="list">
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.None" on-tap="checkchanged_none()" on-hold="checkchanged_none()">                        
                None
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.RedTag" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Red Tag
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.ConfinedSpace" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Confined Space
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.Scaffold" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Scaffold
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.FireWatch" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Fire Watch
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.Flagger" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Flagger
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.AerialLift" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Aerial Lift
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.DriverSafety" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Driver Safety
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.SWP" on-tap="checkchanged()" on-hold="checkchanged()">                        
                SWP
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.SOP" on-tap="checkchanged()" on-hold="checkchanged()">                        
                SOP
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.Rigger" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Rigger
            </ion-checkbox>
            <ion-checkbox class="item item-checkbox-right" ng-model="tempTrainReqs.ForkLift" on-tap="checkchanged()" on-hold="checkchanged()">                        
                Fork Lift
            </ion-checkbox>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Other</span>
                <input type="text" placeholder="Enter any other Training Requirement" ng-model="tempTrainReqs.tb_Other" ng-change="otherTextChanged()">
            </label>
        </ul>
    </div>
</ion-content>
<button class="button button-block button-positive" id = "b_Submit" on-tap="check('formWizard.LicReq')" on-hold="check('formWizard.LicReq')">Next</button>
</ion-view>