<link href="FormWizard/AreaConcerns/AreaConcerns.css" rel="stylesheet">
<ion-view view-title="Area Concerns">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios-list-outline"></button>
    </ion-nav-buttons>
<ion-content direction="y" class="submission-content">
    <form ng-submit="createTask(jobElement)" id="NewJobElementForm">
            <div class="item item-divider">
                Line Of Fire Concerns
            </div>
            <div class="list">
                <ion-checkbox class="item item-checkbox-right" ng-model="AreaConcerns.lof_none" on-tap="LOFcheckchanged_none()" on-hold="LOFcheckchanged_none()">                        
                    None
                </ion-checkbox>
                <label class="item item-input item-stacked-label concern-fader" ng-show="AreaConcerns.lineofFire.length >= 0">
                    <span class="input-label">Line of Fire 1</span>
                    <input type="text" ng-model="AreaConcerns.lineofFire[0]" placeholder="Start typing to add a line of fire." ng-change="LOFTextChanged()">
                </label>
                <label class="item item-input item-stacked-label concern-fader" ng-show="(AreaConcerns.lineofFire.length > 0) && (AreaConcerts.lineofFire[0] !== '' && AreaConcerns.lineofFire[0] != null)">
                    <span class="input-label">Line of Fire 2</span>
                    <input type="text" ng-model="AreaConcerns.lineofFire[1]" placeholder="Start typing to add a line of fire.">
                </label>
                <label class="item item-input item-stacked-label concern-fader" ng-show="(AreaConcerns.lineofFire.length > 1) && (AreaConcerts.lineofFire[1] !== '' && AreaConcerns.lineofFire[1] != null)">
                    <span class="input-label">Line of Fire 3</span>
                    <input type="text" ng-model="AreaConcerns.lineofFire[2]" placeholder="Start typing to add a line of fire.">
                </label>
            </div>
            <div class="item item-divider">
                Sensitive Equipment
            </div>
            <div class="list">
                <ion-checkbox class="item item-checkbox-right" ng-model="AreaConcerns.sensequip_none" on-tap="SensEquipcheckchanged_none()" on-hold="SensEquipcheckchanged_none()">                        
                    None
                </ion-checkbox>
                <label class="item item-input item-stacked-label concern-fader" ng-show="AreaConcerns.sensEquip.length >= 0">
                    <span class="input-label">Sensitive Equipment 1</span>
                    <input type="text" ng-model="AreaConcerns.sensEquip[0]" placeholder="Start typing to add sensitive equipment." ng-change="SensEquipTextChanged()">
                </label>
                <label class="item item-input item-stacked-label concern-fader" ng-show="(AreaConcerns.sensEquip.length > 0) && (AreaConcerts.sensEquip[0] !== '' && AreaConcerns.sensEquip[0] != null)">
                    <span class="input-label">Sensitive Equipment 2</span>
                    <input type="text" ng-model="AreaConcerns.sensEquip[1]" placeholder="Start typing to add sensitive equipment.">
                </label>
                <label class="item item-input item-stacked-label concern-fader" ng-show="(AreaConcerns.sensEquip.length > 1) && (AreaConcerts.sensEquip[1] !== '' && AreaConcerns.sensEquip[1] != null)">
                    <span class="input-label">Sensitive Equipment 3</span>
                    <input type="text" ng-model="AreaConcerns.sensEquip[2]" placeholder="Start typing to add sensitive equipment.">
                </label>
            </div>
            <div class="item item-divider">
                Fall Hazards/Other
            </div>
            <div class="list">
                <ion-checkbox class="item item-checkbox-right" ng-model="AreaConcerns.fallhaz_none" on-tap="FallHazcheckchanged_none()" on-hold="FallHazcheckchanged_none()">                        
                    None
                </ion-checkbox>
                <label class="item item-input item-stacked-label concern-fader" ng-show="AreaConcerns.fallHazards.length >= 0">
                    <span class="input-label">Fall Hazards/Other 1</span>
                    <input type="text" ng-model="AreaConcerns.fallHazards[0]" placeholder="Start typing to add a fall hazard or another concern." ng-change="FallHazTextChanged()">
                </label>
                <label class="item item-input item-stacked-label concern-fader" ng-show="(AreaConcerns.fallHazards.length > 0) && (AreaConcerts.fallHazards[0] !== '' && AreaConcerns.fallHazards[0] != null)">
                    <span class="input-label">Fall Hazards/Other 2</span>
                    <input type="text" ng-model="AreaConcerns.fallHazards[1]" placeholder="Start typing to add a fall hazard or another concern.">
                </label>
                <label class="item item-input item-stacked-label concern-fader" ng-show="(AreaConcerns.fallHazards.length > 1) && (AreaConcerts.fallHazards[1] !== '' && AreaConcerns.fallHazards[1] != null)">
                    <span class="input-label">Fall Hazards/Other 3</span>
                    <input type="text" ng-model="AreaConcerns.fallHazards[2]" placeholder="Start typing to add a fall hazard or another concern.">
                </label>
            </div>
      </form>
</ion-content>
    <div>
          <button class="button button-block button-positive" id = "b_Submit" on-tap="check('formWizard.AddTraining')" on-hold="check('formWizard.AddTraining')">Next</button>
      </div>
</ion-view>