 <link href="FormWizard/Verify.css" rel="stylesheet">
  <div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <button class="button button-clear button-positive" ng-click="closeCertModalAndBack()">Back</button>
      <h1 class="title">Contractor Certification</h1>
      <button ng-disabled="!commitment.date || !commitment.name" class="button button-clear button-positive" on-tap="openSignatureModal()">Sign</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content direction="y" id="CertificationModal">
        <div class="card list">
            <div class="item item-divider">
                <h1 style="text-align: center">Contractor Certification</h1>
            </div>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Printed Name</span>
                <input type="text" ng-model="commitment.name" placeholder="Name (First, Last)">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Date</span>
                <input type="date" ng-model="commitment.date" placeholder="When does work begin?">
            </label>
            <div class="item item-text-wrap">
                <p>
                    By certifying and signing this form, you state to the best of your knowledge that the information entered is correct and valid.<br><br>
                    After entering your signature, the form will become read-only so that it cannot be edited after employee signatures have been added.
                </p>
            </div>
        </div>
    </ion-content>
  </div>