<link href="FormWizard/Overview.css" rel="stylesheet">

<ion-view title="Overview">
    <ion-content direction="y" class="submission-content">
        <a on-tap="onclick('formWizard.GCinfo')" class="item item-icon-left">
            <i data-ng-if="completedElements.BasicInfo === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.BasicInfo === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.BasicInfo === 'pending'" class="icon ion-minus pendingicon"></i>
            General Information
        </a>
        <a on-tap="onclick('formWizard.PPE')" class="item item-icon-left">
            <i data-ng-if="completedElements.PPEAssess === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.PPEAssess === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.PPEAssess === 'pending'" class="icon ion-minus pendingicon"></i>
            PPE Assessment
        </a>
        <a on-tap="onclick('formWizard.JobElements')" class="item item-icon-left">
            <i data-ng-if="completedElements.TaskStep1 === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.TaskStep1 === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.TaskStep1 === 'pending'" class="icon ion-minus pendingicon"></i>
            Task Step #1
        </a>
        <a on-tap="onclick('formWizard.JobElements')" class="item item-icon-left">
            <i data-ng-if="completedElements.TaskStep2 === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.TaskStep2 === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.TaskStep2 === 'pending'" class="icon ion-minus pendingicon"></i>
            Task Step #2
        </a>
        <a on-tap="onclick('formWizard.JobElements')" class="item item-icon-left">
            <i data-ng-if="completedElements.TaskStep3 === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.TaskStep3 === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.TaskStep3 === 'pending'" class="icon ion-minus pendingicon"></i>
            Task Step #3
        </a>
        <a on-tap="onclick('formWizard.JobElements')" class="item item-icon-left">
            <i data-ng-if="completedElements.TaskStep4 === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.TaskStep4 === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.TaskStep4 === 'pending'" class="icon ion-minus pendingicon"></i>
            Task Step #4
        </a>
        <a on-tap="onclick('formWizard.TrainReq')" class="item item-icon-left">
            <i data-ng-if="completedElements.TrainReqs === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.TrainReqs === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.TrainReqs === 'pending'" class="icon ion-minus pendingicon"></i>
            Training Requirements
        </a>
        <a on-tap="onclick('formWizard.LicReq')" class="item item-icon-left">
            <i data-ng-if="completedElements.LicReqs === 'invalid'" class="icon ion-close incompleteicon"></i>
            <i data-ng-if="completedElements.LicReqs === 'valid'" class="icon ion-checkmark completeicon"></i>
            <i data-ng-if="completedElements.LicReqs === 'pending'" class="icon ion-minus pendingicon"></i>
            License Requirements
        </a>
    </ion-content>  
    <button class="button button-block button-positive" id = "b_Verify" on-tap="verified()" on-hold="verified()">Verify</button>
</ion-view>