<link href="FormWizard/Signature.css" rel="stylesheet">

<ion-view title="Commitment">
    <ion-content scroll={{sigCanvas.scroll}} class="submission-content">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Printed Name</span>
            <input type="text" ng-model="commitment.name" placeholder="Name (First, Last)">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Date</span>
            <input type="date" ng-model="commitment.date" placeholder="When does work begin?">
        </label>
        <label class="item item-toggle item-stacked-label">
            <span class="input-label">At-Risk?</span>
            <input type="track" ng-model="commitment.date">
        </label>
        
        <div id="sigCanvas">
            <button class='button button-clear button-positive' id='clearButton' on-tap='clearCanvas()'>Clear</button>
            <canvas scroll="false" id='signatureCanvas' width={{sigCanvas.width}} height={{sigCanvas.height}} style='border: 1px solid black;'></canvas>
        </div>
    </ion-content>    
    <button class="button button-block button-positive" id="b_Submit" on-tap="saveCanvas()" on-hold="saveCanvas()">Sign</button>
</ion-view>