#Form{
    width: 100%;
    height: 100%;
 }

#Image{
    width: 100%;
    height: auto;
}

.overlayButton {
    position: absolute;
    background-color: rgba(96,96,96,0.00);
    color: rgba(255,255,255,0.00);
    text-align: left;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}

.Textbox{
    position: absolute;
    color: black;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.2vw;
    line-height: 150%;
    text-align: left;
    overflow: hidden;
}


/*----Buttons----*/

#BasicInfo{
    top:0%;
    height: 12.5%;
}

#PPE{
    top: 12.25%;
    height: 11.25%;
}

#StartEndDate{
    top: 23.5%;
    height: 10%;
}

#TaskOne {
    top: 33.5%;
    height: 16.5%;
}

#TaskTwo {
    top: 50%;
    height: 16.5%;
}

#TaskThree {
    top: 66.5%;
    height: 16.5%;
}

#TaskFour {
    top: 83%;
    height: 16.5%;
}

/*----Basic Info----*/

#subcontractor {
    position: absolute;
    top: 43%;
    bottom: 39%;
    left: 11%;
    right: 65%;
    transform: translate(0);
}

#crewleader {
    top: 43%;
    bottom: 39%;
    left: 44%;
    right: 32.6%;
}

#projectname {
    top: 43%;
    bottom: 39%;
    left: 76.5%;
    right: 0.5%;
}

#generalcontractor {
    position: absolute;
    top: 60%;
    bottom: 20%;
    left: 13.5%;
    right: 65%;
    transform: translate(0);
}

#sitesuperintendent {
    top:  60%;
    bottom: 20%;
    left: 48%;
    right: 32.6%;
}

#basicinfodate {
    top: 60%;
    bottom: 20%;
    left: 71.25%;
    right: 1%;
}

#jobscope {
    top: 80.5%;
    bottom: 1%;
    left: 8%;
    right: 0.5%;
}

/*----PPE----*/

.PPE_Checkmark{
    text-align: center;
    position: absolute;
    color: #387ef5;
    font-size: 1.2vw;
    width:1.6%;
    height: 22%;
    padding-top: 0.2%;
}

#cm_EyeProtection{
    top: 33%;
    left: 0.4%;
}

#cm_ChemGoggles{
    top: 55%;
    left: 0.4%;
}

#cm_HardHat{
    top: 77%;
    left: 0.4%;
}

#cm_RespiratorType{
    top: 33%;
    left: 18.7%;
}

#tb_RespiratorType{
    top: 33%;
    left: 30.5%;
    width: 16.6%;
    height: 21%;
}

#cm_GlovesType{
    top: 55%;
    left: 18.7%;
}

#tb_GlovesType{
    top: 55%;
    left: 30.5%;
    width: 16.6%;
    height: 21%;
}

#cm_Clothing{
    top: 77%;
    left: 18.7%;
}

#tb_Clothing{
    top: 77%;
    left: 30.5%;
    width: 16.6%;
    height: 21%;
}

#cm_ProtectiveToe{
    top: 33%;
    left: 47.3%;
}

#cm_HearingProtection{
    top: 55%;
    left: 47.3%;
}

#cm_ChemClothing{
    top: 77%;
    left: 47.3%;
}

#tb_ChemClothing{
    top: 77%;
    left: 59%;
    width: 16.8%;
    height: 19%;
}

#cm_HarnessLanyard{
    top: 33%;
    left: 76%;
}

#cm_FaceShield{
    top: 55%;
    left: 76%;
}

#cm_Other{
    top: 77%;
    left: 76%;
}

#tb_Other{
    top: 77%;
    left: 82%;
    width: 17.5%;
    height: 19%;
}

/*----Start and End----*/
#tb_StartDate{
    top: 32%;
    left: 41%;
    width: 13%;
    height: 27%;
    font-size: 2.0vw;
    line-height: 100%;
}

#tb_EndDate{
    top: 32%;
    left: 67.4%;
    width: 13%;
    height: 27%;
    font-size: 2.0vw;
    line-height: 100%;
}

/*----Tasks----*/
.JobElement{
    left: 0.4%;
    width: 14.5%;
    height:83%;
}

.Task{
    left: 15%;
    width: 20%;
    height: 28%;
}

.Hazard{
    left: 35%;
    width: 30.5%;
    height: 28%;
}

.Control{
    left: 65.5%;
    width: 34%;
    height: 28%;
}

#tb_JobElement{
    top: 17%;
}
#tb_Task1{
    top: 17%;
}
#tb_Hazard1{
    top: 17%;
}
#tb_Control1{
    top: 17%;
}
#tb_Task2{
    top: 45%;
}
#tb_Hazard2{
    top: 45%;
}
#tb_Control2{
    top: 45%;
}
#tb_Task3{
    top: 73%;
}
#tb_Hazard3{
    top: 73%;
}
#tb_Control3{
    top: 73%;
}

/*----Training Reqs----*/
#TrainingReqs {
    position: absolute;
    top: 0%;
    width: 53%;
    height: 11.25%;
}

.TrainReq_Checkmark {
    text-align: center;
    position: absolute;
    color: #387ef5;
    width: 3.75%;
    font-size: 1.5vw;
    padding-top: 0.2%;
}

#cm_RedTag {
    top: 36%;
    left:0.8%;
}

#cm_FireWatch {
    top: 36%;
    left: 26%;
}

#cm_DriverSafety {
    top: 36%;
    left: 46.5%;   
}

#cm_Rigger {
    top: 36%;
    left: 67%;
}

#cm_ConfinedSpace {
    top: 56%;
    left: 0.8%;
}

#cm_Flagger {
    top: 56%;
    left: 26%; 
}

#cm_SWP {
    top: 56%;
    left: 46.5%;
}

#cm_ForkLift_TR {
    top: 56%;
    left: 67%;
}

#cm_Scaffold {
    top: 78%;
    left: 0.8%;    
}

#cm_AerialLift_TR {
    top: 78%;
    left: 26%;
}

#cm_SPO {
    top: 78%;
    left: 46.5%;
}

#cm_Other_TR {
    top: 78%;
    left: 67%;
}

#tb_Other_TR {
    left: 78%;
    top: 78%;
}

/*----License Requirements----*/
#LicenseReqs {
    position: absolute;
    top: 0%;
    left: 53%;
    width: 47%;
    height: 11.25%;
}

.LicReq_Checkmark {
    text-align: center;
    position: absolute;
    color: #387ef5;
    width: 3.75%;
    font-size: 1.5vw;
    padding-top: 0.2%;
}

#cm_ForkLift_LR {
    top: 38%;
    left: 0%;
}

#cm_AerialLift_LR {
    top: 58%;
    left: 0%;
}

#cm_HeavyEquip {
    top: 80%;
    left: 0%;
}

#cm_Crane {
    top: 38%;
    left: 49%;
}

#cm_Other_LR {
    top: 58%;
    left: 49%;
}

#tb_Other_LR {
    top: 58%;
    left: 64%;
}

/*----Area Concerns----*/
#AreaConcerns {
    position: absolute;
    top: 11.25%;
    width: 100%;
    height: 13.5%;
}

#AreaRow1 {
    position: absolute;
    top: 44%;
    width: 100%;
    height: 19%;
}

#AreaRow2 {
    position: absolute;
    top: 62%;
    width: 100%;
    height: 19%;
}

#AreaRow3 {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 19%;
}

#LOF {
    left: 1%;
}

#SensEquip {
    left: 34%;
}

#FallHaz {
    left: 68%;
}

/*----Additional Training----*/
#AdditionalTraining {
    position: absolute;
    width: 100%;
    height: 20.5%;
    top: 24.5%;
}

#AddTrain1 {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 28%;
}

#AddTrain2 {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 40%;
}

#AddTrain3 {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 52%;
}

#AddTrain4 {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 64%;
}

#AddTrain5 {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 76%;
}

#AddTrain6 {
    position: absolute;
    width: 100%;
    height: 12%;
    top: 88%;
}

#TrainTopic {
     left: 3%;
}

#TrainDate {
    left: 86%;
}


/*----Commitment----*/
#Commitment {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 35%;
}
#Commitment1 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 16.3%;
}
#Commitment2 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 23%;
}
#Commitment3 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 30%;
}
#Commitment4 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 37%;
}
#Commitment5 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 44%;
}
#Commitment6 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 51%;
}
#Commitment7 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 58%;
}
#Commitment8 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 65%;
}
#Commitment9 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 72%;
}
#Commitment10 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 79%;
}
#Commitment11 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 86%;
}
#Commitment12 {
    position: absolute;
    width: 100%;
    height: 7%;
    top: 93%;
}

#EmployeeName {
    position: absolute;
    width: 30.5%;
    height: 100%;
    left: 2.75%;
}

#EmployeeSignature {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 33.25%;
}

#At-Risk {
    position: absolute;
    width: 14.5%;
    height: 100%;
    left: 67%;
}

#At-RiskStartDate{
    position: absolute;
    width: 18%;
    height: 100%;
    left: 81.5%;
}

/*--- Signature ---*/
#JSASignature {
    position: absolute;
    width: 33%;
    height: 5%;
    top: 89%;
    left: 21%;
}

#CompletedDate {
    position: absolute;
    width: 11%;
    height: 4%;
    top: 91%;
    left: 64%;
    font-size: large;
}