<link href="FormWizard/JobElements/JobElements.css" rel="stylesheet">
<ion-view view-title="Job Elements">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-empty" ng-click="newTask()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-ios-list-outline"></button>
    </ion-nav-buttons>
<ion-content>
    <!-- our list and list items -->
    <ion-list>
        <div ng-repeat="group in groups">
          <ion-item class="item-stable item-button-right"
                    ng-click="openJobElement(group)"
                    ng-class="{active: isGroupShown(group)}">
              <i class="button-positive" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'" ng-click="toggleGroup(group); $event.stopPropagation()"></i>
            &nbsp;
            {{group.name}}
            <div class="buttons">
              <button class="button button-assertive" ng-click="deleteGroup(group); $event.stopPropagation()">
                <i class="icon ion-trash-a"></i>
              </button>
            </div>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in group.items"
                    ng-show="isGroupShown(group)"
                    ng-click="openTaskModal(group, item)">
            {{item.title}}
          </ion-item>
        </div>
    </ion-list>
</ion-content>
    <div>
          <button class="button button-block button-positive" id = "b_Submit" data-ng-if="group.length != 0" on-tap="check('overview')" on-hold="check('overview')">Next</button>
          <div id="JobElementHelpCard" class="fader" data-ng-if="groups.length != 0">
            <div class="card">
                <div class="item item-text-wrap">
                    You need to add a task using the + button above.
                </div>
            </div>
          </div>
      </div>
</ion-view>