<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Edit Task</h1>
      <button class="button button-clear button-positive" ng-click="closeTaskModal()">Cancel</button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="submitTaskChange()" id="TaskSubmit">
        <div class="list">
          <label class="item item-input item-stacked-label">
              <span class="input-label">Task Title</span>
              <input type="text" placeholder="What task is this?" ng-model="TempTask.title">
          </label>
          <label class="item item-input item-stacked-label fader">
              <span class="input-label">Potential Hazards</span>
              <input type="text" ng-model="TempTask.hazards" placeholder="What are the hazards of this task?">
          </label>
          <label class="item item-input item-stacked-label fader">
              <span class="input-label">Hazard Control Methods</span>
              <input type="text" ng-model="TempTask.control" placeholder="How will you mitigate these hazards?">
          </label>
        </div>
      </form>

    </ion-content>
      <div>
          <button type="submit" form="TaskSubmit" class="button button-block button-positive fader" id="SaveTaskButton" ng-show="checkTaskModal()">Save</button>
          <div id="TaskHelpCard" class="fader" ng-hide="checkTaskModal()">
            <div class="card">
                <div class="item item-text-wrap">
                    You need to fill out all 3 fields to continue.
                </div>
            </div>
          </div>
      </div>
</div>