/* Classes */
.headerBar{
    height: 3.5%;
    width: 100%;
    background-color: darkgrey;
}

.Form{
    position: relative;
    top: 45px;
    height: 60%;
    width: 100%;
 }

.Image{
    width: 100%;
    height: auto;
}

.VertForm {
    position: absolute;
    width: 100%;
    height: 96.5%;
}
.overlayButton {
    position: absolute;
    background-color: rgba(96,96,96,0.00);
    color: rgba(255,255,255,0.00);
    text-align: left;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}

.input-label {
    color: rgba(96,96,96,0.80);
}

.Textbox{
    position: absolute;
    color: black;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.2vw;
    line-height: 120%;
    text-align: left;
    overflow: hidden;
}

/* Portrait IDs */

#JSATitle {
    top:0%;
    bottom: 88.75%;
}

#PPEAssessment{
    top: 11.25%;
    bottom: 75%;
}

#TaskOne {
    top: 25%;
    bottom: 57.2%;
}

#TaskTwo {
    top: 42.8%;
    bottom: 39.5%;
}

#TaskThree {
    top: 60.5%;
    bottom: 21.5%;
}

#TaskFour {
    top: 78.5%;
    bottom: 1%;
}

/* Landscape-specific code */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .headerBar {
        height: 7%;
    }

}