.bar.bar-header.bar-dark{
    height: 5%;
    width: 100%;
}
.form{
    top: 5%;
    height: 95%;
    width: 100%;
 }

.image{
    width: 100%;
    height: auto;
}

.PPEAssessment{
    position: absolute;
    top: 9.5%;
    bottom: 73.5%;
    background-color: rgba(96,96,96,0.85);
    color: white;
    text-align: center;
}

.button:hover {
    color:white;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .PPEAssessment{
        top: 10%;
        bottom: 73.5%;
    }
}