/* Classes */

#Loading {
    height: 25vw;
    width: 25vw;
    margin: auto;
}

#Icon {
    position: absolute;
    font-size: 26vw;
    left: 4%;
}

.fa-spin {
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 0.25s infinite steps(8);
  animation: fa-spin 0.25s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.headerBar{
    height: 3.5%;
    width: 100%;
    background-color: darkgrey;
}

.Image{
    width: 100%;
    height: auto;
}

.VertForm {
    position: absolute;
    width: 100%;
    top: 64px;
    height: 96.5%;
}

.input-label {
    color: rgba(96,96,96,0.80);
}

/* Portrait IDs */

#backButton {
    font-size: 200%;
    color: white;
}

#navbuttonback {
  width: 25%;  
}

#backButton{
    width: 100%;
    offsetLeft: 100px;
}

#backButtonIcon.icon.ion-ios-arrow-back{
    left: 0;
}

#signbutton{
    width: 100%;
}

.submission-content {
    bottom: 47px;
    margin-bottom: 1%;
}

/* Landscape-specific code */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .headerBar {
        height: 7%;
    }

}